<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content"width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Chuck Norris Joke Application</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">
</head>
<body>
  <style>
  html {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
  }

  .text-center {
    text-align: center;
  }

  .chuck-grid {
    display: grid;
    grid-template-areas:
    "header header"
    "feed favorites"
    "footer footer";
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .chuck-grid__header {
    grid-area: header;
  }

  .chuck-grid__feed {
    grid-area: feed;
  }

  .chuck-grid__favorites {
    grid-area: favorites;
  }

  .chuck-grid__footer {
    grid-area: footer;
  }

  .joke-list {
    list-style: none;
    margin: 0;
    padding: 7px;
    background: rgba(0,0,0,.01);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
  }

  .joke {
    list-style: none;
    display: flex;
    margin-bottom: 7px;
    border-bottom: 1px solid rgba(0,0,0,.2);
  }

  .joke__text {
    flex-grow: 1;
    padding: 11px 0;
  }

  .joke__add, .joke__add-icon {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
  }

  .joke__add {
    border: none;
    appearance: none;
    box-shadow: none;
    background: none;
    padding: 0;
    outline: none;
    align-self: center;
    margin-right: 10px;
    cursor: pointer;
  }

  .joke__add-icon--added {
    stroke: red;
    cursor: not-allowed;
  }

  .section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .section-header__image {
    height: 100px;
    width: auto;
    margin-right: 20px;
  }

  .section-header__title {
    margin: 0;
  }

  .button-group {
    display: flex;
    justify-content: space-around;
  }

  .button-group .button {
    margin: 10px;
  }

  .button {
    box-shadow: none;
    outline: none;
    appearance: none;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
    background: transparent;
    cursor: pointer;
    transition: all .3 ease;
  }

  .button[disabled] {
    border-color: rgba(0,0,0,.3);
    background: rgba(0,0,0,.2);
    cursor: not-allowed;
    color: white;
  }
  </style>
  <div id="root">
    <svg width="50" height="50" viewBox="0 0 105 105" xmlns="http://www.w3.org/2000/svg" fill="black">
      <circle cx="12.5" cy="12.5" r="12.5">
        <animate attributeName="fill-opacity"
        begin="0s" dur="1s"
        values="1;.2;1" calcMode="linear"
        repeatCount="indefinite" />
      </circle>
      <circle cx="12.5" cy="52.5" r="12.5" fill-opacity=".5">
        <animate attributeName="fill-opacity"
        begin="100ms" dur="1s"
        values="1;.2;1" calcMode="linear"
        repeatCount="indefinite" />
      </circle>
      <circle cx="52.5" cy="12.5" r="12.5">
        <animate attributeName="fill-opacity"
        begin="300ms" dur="1s"
        values="1;.2;1" calcMode="linear"
        repeatCount="indefinite" />
      </circle>
      <circle cx="52.5" cy="52.5" r="12.5">
        <animate attributeName="fill-opacity"
        begin="600ms" dur="1s"
        values="1;.2;1" calcMode="linear"
        repeatCount="indefinite" />
      </circle>
      <circle cx="92.5" cy="12.5" r="12.5">
        <animate attributeName="fill-opacity"
        begin="800ms" dur="1s"
        values="1;.2;1" calcMode="linear"
        repeatCount="indefinite" />
      </circle>
      <circle cx="92.5" cy="52.5" r="12.5">
        <animate attributeName="fill-opacity"
        begin="400ms" dur="1s"
        values="1;.2;1" calcMode="linear"
        repeatCount="indefinite" />
      </circle>
      <circle cx="12.5" cy="92.5" r="12.5">
        <animate attributeName="fill-opacity"
        begin="700ms" dur="1s"
        values="1;.2;1" calcMode="linear"
        repeatCount="indefinite" />
      </circle>
      <circle cx="52.5" cy="92.5" r="12.5">
        <animate attributeName="fill-opacity"
        begin="500ms" dur="1s"
        values="1;.2;1" calcMode="linear"
        repeatCount="indefinite" />
      </circle>
      <circle cx="92.5" cy="92.5" r="12.5">
        <animate attributeName="fill-opacity"
        begin="200ms" dur="1s"
        values="1;.2;1" calcMode="linear"
        repeatCount="indefinite" />
      </circle>
    </svg>
  </div>

  <script src="bundle.js"></script>
</body>
</html>
